.App {
  min-height: 100vh;
  background-color: #2E3D59;
}

.title{
  text-align: center;
  font-style: oblique;
  color:rgb(255, 255, 255);
}

/* Estilo do nav */

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 10vh;
  background-color: #49F2C2;
  color:#49F2C2;
}

.nav-links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}


/* Página das receitas */

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 50%;
  border:none;
  padding: 10px;
}

.search-button{
  background: #b12a5b;
  border:none;
  padding: 10px 20px;
 color: azure; 
}

.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}