.App {
  min-height: 100vh;
  background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
}

.title{
  text-align: center;
  font-style: oblique;
  color:rgb(255, 255, 255);
}

.button_RL{
  display: flex;
  justify-content:flex-end;
}
/* .registar{
  align-items: ;
}

.login{

} */

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 50%;
  border:none;
  padding: 10px;
}

.search-button{
  background: #b12a5b;
  border:none;
  padding: 10px 20px;
 color: azure; 
}

.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}